*, *::before, *::after {    
    box-sizing: border-box;
}

:root {
    font-family: 'Sofia Sans Condensed', sans-serif, serif;
    scroll-behavior: smooth;
    line-height: 1.6;
}

body {
    margin: 0;
    
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    }


/* Slideshow Container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin-top: 10rem;
    overflow: hidden;
}

.slideshow-text {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding-inline: 2rem;
    text-align: center;

    & p {
        max-width: 40rem;
        font-size: 1.2rem;
        padding-block-end: 2rem;
    }

    & h1 {
        font-size: 2.5rem;
    }
}


/* Individual Slide */
.slide {
    display: none;
    position: relative;
    text-align: center;
}

/* Image Styling */
.slide-image {
    width: 70%;
    height: auto;
    object-fit: cover;
    border-radius: 0.2rem;
}

/* Content inside each Slide till 768px*/
.slide-content {
    font-weight: bold;
    padding-block-end: 2rem;

    & p {
        font-weight: 400;
    }
    
    & h2 {
        font-size: 2.2rem;
    }
}

/* Content inside each Slide past 768px*/

@media (min-width: 768px) {

/* Content inside each Slide */
.slide-content {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1em;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-weight: 400;

    /* Slide Heading */
    & p {
        margin: 0 0 1em;
        font-size: 1.2em;
    }
    
    /* Slide Paragraph */
    & .h2 {
        margin: 0 0 0.5em;
        font-size: 2em;
    }

    

}
}

/* End of media query. */

/* Button Styling */
.slide-button {
    display: inline-block;
    background-color: #004896;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
     
}

.slide-button:hover {
    background-color: #0058b1;
}

/* Fade Animation */
.fade {
    animation: fadeEffect 1.5s;
}



/* section 2  */
.cards-text {
    display: flex;
    justify-content: center;

    & h2 {
        font-size: 2rem;
    }
    
}

.bg-color-section {
    background-color: #f5f5f5;
}
.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding-inline-end: 2.5rem;
    padding-block-end: 5rem;
    
    
    & li {
    padding: 2rem;
    text-align: center;
    border-radius: 1.5rem;
    position: relative;

    & img {
        width: 100%;
        
    }
}
}

.ipad-pro-img-small {
    max-width: 60px;
}
.ipad-pro-img-ultra-small {
    max-width: 40px;
}

.ipad-pro-img-ultra-small-camera {
    max-width: 40px;
    border-radius: 0.6rem;
}

.ipad-pro-img-pen {
    max-width: 30px;
}

.img-ipad-gg {
    max-width: 11rem;
}

.ipad-mini-img-small {
    max-width: 100px;
}

.ipad-text {
    padding-block-end: 2rem;
}

