footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    ul {
        list-style: none;
        display: flex;
        gap: 3rem;
        a {
            text-decoration: none;
        }
    }
}
@media (max-width:20rem) {
    footer {
        ul {
            gap: 1rem;
        }
    }
}