<!DOCTYPE html>
<html lang="en">
<head>
    <!--Meta-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Apple advisor,advisor, advising">
    
    <!--Favicon Links-->
    <link rel="shortcut icon" href="" type="image/x-icon">
    
    <!--CSS Links-->
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="">
    <!--JS Links-->
    <script src="./scripts/navbar.js"></script>
    <!-- Title -->
    <title>Template - Apple Dealer Belgium</title>
</head>
<body>
    <header>
        <nav>
            <img src="" alt="">

            <ul>
                <li>iPhone</li>
                <li>iPad</li>
                <li>Mac</li>
            </ul>

            <ul>
                <li>Login</li>
                <li>Register</li>
                <li>
                    <img src="" alt="cart">
                </li>
            </ul>
        </nav>
    </header>
    <main></main>
    <footer>
        <section>
            <ul>
                <li>
                    <a href="">About us</a>
                </li>
                <li>
                    <a href="">Privacy Policy</a>
                </li>
                <li>
                    <a href="">Support Page</a>
                </li>
            </ul>
        </section>
        <section>
            <p>Copyright &copy; 2024 - Apple Dealer Belgium</p>
        </section>
    </footer>
</body>
</html>